{% extends 'volley/base.html' %}
{% load static %}

{% block content %}

{% if particular_shedule.id == 1 %}
<div class="shurovo-shedule-style">
{% endif %}
{% if particular_shedule.id == 2 %}
<div class="slavkurort-shedule-style">
{% endif %}
{% if particular_shedule.id == 3 %}
<div class="golubie-ozera-shedule-style">
{% endif %}
{% if particular_shedule.id == 4 %}
<div class="kramatorsk-shedule-style">
{% endif %}
{% if particular_shedule.id == 5 %}
<div class="privolye-shedule-style">
{% endif %}
{% if particular_shedule.id == 6 %}
<div class="svyatogorsk-shedule-style">
{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-12 col-sm-12" align="left">
                <p></p>
                <h1><b><span class="badge text-bg-dark">{{particular_shedule.name}}</span></b></h1>
                <p></p>
                <h2><b><span class="badge text-bg-info">{{particular_shedule.date}}</span></b></h2>
                <p></p>
            </div>

            <div class="col-xl-6 col-md-12 col-sm-12" align="right">
                <p></p>
                <img src="{% static 'volley/images/bober3.png' %}">
            </div>

        </div>
    </div>

</div>
<p></p>
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-md-12 col-sm-12" align="left">
            <h2><b>Детали турнира</b></h2>
            <h5><i>{{particular_shedule.content}}</i></h5>
            <h5><b>Локация: </b>{{particular_shedule.location}}</h5>
            <h5><b>Формат турнира: </b>{{particular_shedule.event_format}}</h5>
            <h5><b>Призовой фонд: </b>{{particular_shedule.money_prize}}</h5>
            <a class="red-style" href="{% url 'application' %}"><h5 align="left"><b>Заявиться </b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg></h5></a>
            <a class="red-style" href="{% url 'contacts' %}"><h5 align="left"><b>Связаться с организатором </b><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
</svg></h5></a>
        </div>

        <div class="col-xl-6 col-md-12 col-sm-12" >
            <div class="d-flex" style="height: 335px;" align="left">
                <div class="vr"></div>
            </div>
        </div>

    </div>
</div>

{% endblock %}