{% extends 'volley/base.html' %}
{% load static %}

{% block content %}

<p></p>
<h4 align="center"><b>Благодарим наших спонсоров:</b></h4>
<p></p>

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-12" align="center">
            <p></p>
            <div><a href="https://www.hitfm.ua/" target="_blank"><img src="{% static 'volley/images/hit_fm1.png' %}"></a></div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-12" align="center">
            <div><a href="https://kmw.com.ua//" target="_blank"><img src="{% static 'volley/images/karpatska_logo.png' %}"></a></div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-12" align="center">
            <p class="hidden-style">1</p>
            <p></p>
            <div><a href="https://forum-avto.info/" target="_blank"><img src="{% static 'volley/images/forumavto.png' %}"></a></div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-12" align="center">
            <div><a href="https://www.kramtechcenter.com.ua/" target="_blank"><img src="{% static 'volley/images/ktc.png' %}"></a></div>
        </div>
        <p></p>
        <p class="hidden-style">1</p>

        <div class="col-xl-3 col-md-6 col-sm-12" align="center">
            <div><a href="http://nkmz.com/" target="_blank"><img src="{% static 'volley/images/nkmz.png' %}"></a></div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-12" align="center">
            <div><a href="https://www.instagram.com/smart_prices_/" target="_blank"><img src="{% static 'volley/images/sp.png' %}"></a></div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-12" align="center">
            <div><a href="http://rodina.mk/" target="_blank"><img src="{% static 'volley/images/rodina.png' %}"></a></div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-12" align="center">
            <div><a href="http://www.slavutich.com/" target="_blank"><img src="{% static 'volley/images/slavutich2.png' %}"></a></div>
        </div>


    </div>
</div>
<div class="sponsors-background">
</div>
{% endblock %}